{% extends 'navbar.html' %}

{% block content%}
      <div class = "col-lg-3 mx-auto p-4 ">
      <h1> login Page</h1>
      </div>



      <div class = "col-lg-5 shadow mx-auto p-0">
          <div class = "alert alert-success">
             <h2> Account Login </h2>
          </div>


          <div class="p-4">
              <form method = "post" action="/login/">
                  {% csrf_token %}
                  {{form.as_p}}
                  <hr>
                  <input type="submit"value="login"class="btn btn-info">
           </div>

          </div>

      </form>
{% endblock %}








